<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static './style.css' %}">
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="container">
      <div class="left">
          <div class="left__home">Logo</div>
          <div class="left__about">
              <a href="" class="left__about-tg">telegram</a>
              <a href="" class="left__about-git">github</a>
              <div class="left__currency">currencies</div>
          </div>
      </div>
      <div class="center">
          <div class="center__logo">Search Engine</div>
          <div class="center__text">find something in data base</div>
          <input type="text" placeholder="Find" class="input">
      </div>
      <div class="right">
          <button class="right__color-red"></button>
          <button class="right__color-anise"></button>
          <button class="right__color-zeus"></button>
          <button class="right__color-aimond"></button>
          <button class="right__color-vanillaice"></button>
          <button class="right__color-mineralgrey"></button>
          <button class="right__color-turquoise"></button>
          <button class="right__color-parchment" style='background-color: #F3E7D9;'></button>
      </div>
  </div>
    <script src="/static/main.js"></script>
</body>
</html>
